`# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend-user/node_modules
/.pnp
frontend-user/.pnp.js
frontend-user/.yarn/install-state.gz

# testing
frontend-user/coverage

# next.js
frontend-user/.next/
frontend-user/out/

# production
frontend-user/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
frontend-user/.env*.local

# vercel
frontend-user/.vercel

# typescript
frontend-user/*.tsbuildinfo
frontend-user/next-env.d.ts
