DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5435/blogging_platform
PORT=4900
JWT_SECRET=12345678
AUTH_EMAIL=user@gmail.com
AUTH_PASSWORD=12345
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
